---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=NnUvCNZh3ThUQkDGFbul44DbIH3VZl7B&limit=1&q=Dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"cLcxtL1z8t8oo","slug":"jump-training-rope-cLcxtL1z8t8oo","url":"https:\/\/giphy.com\/gifs\/jump-training-rope-cLcxtL1z8t8oo","bitly_gif_url":"https:\/\/gph.is\/1TEeoGs","bitly_url":"https:\/\/gph.is\/1TEeoGs","embed_url":"https:\/\/giphy.com\/embed\/cLcxtL1z8t8oo","username":"","source":"https:\/\/www.reddit.com\/r\/gifs\/comments\/4itv7w\/dogs_rope_jump_training_in_asia\/","rating":"g","content_url":"","source_tld":"www.reddit.com","source_post_url":"https:\/\/www.reddit.com\/r\/gifs\/comments\/4itv7w\/dogs_rope_jump_training_in_asia\/","is_sticker":0,"import_datetime":"2016-05-11
        07:50:20","trending_datetime":"2016-10-18 00:15:00","images":{"fixed_height_still":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200_s.gif","width":"170","height":"200"},"original_still":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy_s.gif","width":"300","height":"352"},"fixed_width":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200w.gif","width":"200","height":"235","size":"1554148","mp4":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200w.mp4","mp4_size":"151733","webp":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200w.webp","webp_size":"823420"},"fixed_height_small_still":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/100_s.gif","width":"85","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200_d.gif","width":"170","height":"200","size":"117154","webp":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200_d.webp","webp_size":"63056"},"preview":{"width":"126","height":"150","mp4":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy-preview.mp4","mp4_size":"41000"},"fixed_height_small":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/100.gif","width":"85","height":"100","size":"335804","mp4":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/100.mp4","mp4_size":"48305","webp":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/100.webp","webp_size":"209354"},"downsized_still":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy-downsized_s.gif","width":"213","height":"250","size":"30808"},"downsized":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy-downsized.gif","width":"213","height":"250","size":"1769958"},"downsized_large":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy.gif","width":"300","height":"352","size":"3579189"},"fixed_width_small_still":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/100w_s.gif","width":"100","height":"117"},"preview_webp":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy-preview.webp","width":"109","height":"128","size":"49834"},"fixed_width_still":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200w_s.gif","width":"200","height":"235"},"fixed_width_small":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/100w.gif","width":"100","height":"117","size":"446481","mp4":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/100w.mp4","mp4_size":"47014","webp":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/100w.webp","webp_size":"267566"},"downsized_small":{"width":"213","height":"250","mp4":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy-downsized-small.mp4","mp4_size":"184401"},"fixed_width_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200w_d.gif","width":"200","height":"235","size":"162941","webp":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200w_d.webp","webp_size":"84874"},"downsized_medium":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy.gif","width":"300","height":"352","size":"3579189"},"original":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy.gif","width":"300","height":"352","size":"3579189","frames":"58","mp4":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy.mp4","mp4_size":"555071","webp":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy.webp","webp_size":"1704506"},"fixed_height":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200.gif","width":"170","height":"200","size":"1113531","mp4":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200.mp4","mp4_size":"122051","webp":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/200.webp","webp_size":"611676"},"looping":{"mp4":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy-loop.mp4","mp4_size":"2262141"},"original_mp4":{"width":"480","height":"562","mp4":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy.mp4","mp4_size":"555071"},"preview_gif":{"url":"https:\/\/media1.giphy.com\/media\/cLcxtL1z8t8oo\/giphy-preview.gif","width":"82","height":"96","size":"49290"},"480w_still":{"url":"https:\/\/media4.giphy.com\/media\/cLcxtL1z8t8oo\/480w_s.jpg","width":"480","height":"563"}},"title":"dogs
        jumprope GIF","_score":2500044,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c339c4c54464770592b9911&event_type=GIF_SEARCH&gif_id=cLcxtL1z8t8oo&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c339c4c54464770592b9911&event_type=GIF_SEARCH&gif_id=cLcxtL1z8t8oo&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c339c4c54464770592b9911&event_type=GIF_SEARCH&gif_id=cLcxtL1z8t8oo&action_type=SENT"}}}],"pagination":{"total_count":80620,"count":1,"offset":0},"meta":{"status":200,"msg":"OK","response_id":"5c339c4c54464770592b9911"}}'
  recorded_at: Mon, 07 Jan 2019 18:42:26 GMT
[...]
